<div class="expense-form-container">
  <app-details-page-header [hasDelete]="false" [hasEdit]="false" (back)="onCancel()">
  </app-details-page-header>
  <h1>{{ isEditMode ? 'Edit Expense' : 'Add New Expense' }}</h1>

  <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()" class="form-content">
    <div class="form-grid">
      <!-- Title -->
      <app-form-input
        label="Title"
        formControlName="title"
        placeholder="e.g., Office Rent"
        [required]="true"
        helpText="Maximum 200 characters"
      ></app-form-input>

      <!-- Amount -->
      <app-form-input
        label="Amount"
        type="number"
        formControlName="amount"
        placeholder="0.00"
        [required]="true"
      ></app-form-input>

      <!-- Category -->
      <app-form-input
        label="Category"
        formControlName="category"
        placeholder="General, Rent, Utilities..."
      ></app-form-input>

      <!-- Date -->
      <app-form-input label="Date" type="date" formControlName="date"></app-form-input>

      <!-- Note -->
      <div class="full-width">
        <app-form-input
          label="Note"
          formControlName="note"
          placeholder="Additional details..."
          type="textarea"
          [rows]="3"
        ></app-form-input>
      </div>
    </div>

    <app-form-actions
      [disabled]="expenseForm.invalid"
      [submitText]="isEditMode ? 'Update Expense' : 'Create Expense'"
      (cancel)="onCancel()"
    />
  </form>
</div>
